/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/components/header.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.pulse1 {
    animation: pulse 5s infinite;
  }
  
  .pulse2 {
    animation: pulse 5s infinite 2.5s; 
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8); 
    }
  }

  .jitter1 {
    animation: jitter 0.4s infinite;
    animation-timing-function: steps(10, end);
  }
  
  @keyframes jitter {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-1px, -1px);
    }
    50% {
      transform: translate(1px, -1px);
    }
    75% {
      transform: translate(-1px, 1px);
    }
    100% {
      transform: translate(1px, 1px);
    }
  }
  
  
  .jitter2 {
    animation: jitter 0.4s infinite 0.1s;
    animation-timing-function: steps(10, end);
  }
  
  @keyframes jitter {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-1px, 1px);
    }
    50% {
      transform: translate(1px, -1px);
    }
    75% {
      transform: translate(-1px, -1px);
    }
    100% {
      transform: translate(1px, 1px);
    }
  }
  
  
  
